<% published ||= {} %>
<% diff = ReviewAndApprove::HashDiff.diff(published,current) %>
<% diff_keys = diff.keys %>
<div class="review_and_approve">
<% if diff_keys.count > 0 %>
  <table>
    <thead>
      <tr>
        <th scope="col" class="rounded-company">Field Name</th>
        <th scope="col" class="rounded-q1">Published Value</th>
        <th scope="col" class="rounded-q4">Current Value</th>
      </tr>
    </thead>

    <tbody>
      <% diff_keys.each do |key| %>
        <%= render :partial => 'review_and_approve/line_item', :locals => {:key => key, :diff_val => diff[key], :depth => -1} %>
      <% end %>
    </tbody>

  </table>
<% else %>
  Latest version is published
<% end %>
</div>
