<% published ||= {} %>
<% diff_keys = published.diff(current).keys %>
<div class="review_and_approve">
<% if diff_keys.count > 0 %>
  <table>
    <thead>
      <tr>
        <th scope="col" class="rounded-company">Field Name</th>
        <th scope="col" class="rounded-q1">Published Value</th>
        <th scope="col" class="rounded-q4">Current Value</th>
      </tr>
    </thead>

    <tbody>
      <% diff_keys.each do |key| %>
        <tr>
          <td><%= key rescue "" %></td>
          <%# if !published.is_a? Hash and !published.is_a? Array %>
            <td><%= published || "<BLANK>" %></td>
            <td><%= current || "<BLANK>" %></td>
          <%# end %>
        </tr>
        <%#= render :partial => 'review_and_approve/line_item', :locals => {:published => published[key], :current => current[key], :key => key, :depth => 0} %>
      <% end %>
    </tbody>

  </table>
<% else %>
  Latest version is published
<% end %>
</div>
