
<tr>
  <% (0..depth).each do %>
    <td></td>
  <% end %>
  <td><%= key rescue "" %></td>
  <% if diff_val.is_a? Array  %>
    <td><%= diff_val[0] || "<BLANK>" %></td>
    <td><%= diff_val[1] || "<BLANK>" %></td>
  <% end %>
</tr>
<% if diff_val.is_a? Hash %>
  <% diff_val.keys.each do |key| %>
    <%= render :partial => 'review_and_approve/line_item', :locals => {:key => key, :diff_val => diff_key[key], :depth => depth+1} %>
  <% end %>
<% elsif !diff_val.is_a? Array or diff_val.length>2 %>
  <% debugger %>
  <% raise Exception.new %>
<% end %>